.chapter {
  text-indent: 30px;
  line-height: 2.25;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
  text-indent: 0;
}

.right {
  text-align: right;
  text-indent: 0;
}

.monospace {
  font-family: monospace;
}
