{% assign sorted_books = site.books | sort:"order" %}
{% for book in sorted_books %}
<!-- <div class="row"> -->
<!-- 	<div class="col col-12"> -->
<!-- 		<h1>{{ book.title | escape }}</h1> -->
<!-- 	</div> -->
<!-- </div> -->
<div class="book">
<div class="row">
	<div class="col col-12">
		<img class="cover" src="{{ book.image | relative_url }}"/>
		{{ book }}
	</div>
</div>

<div class="row">
	<div class="col col-12 col-m-12">
		<iframe src="{{ book.spotify }}??utm_source=generator&theme=1" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
	</div>
</div>
</div>
{% endfor %}
