{% for book in site.books %}
<!-- <div class="row"> -->
<!-- 	<div class="col col-12"> -->
<!-- 		<h1>{{ book.title | escape }}</h1> -->
<!-- 	</div> -->
<!-- </div> -->
<div class="row">
	<div class="col col-5 col-m-12">
		<img class="row" src="{{ book.image | relative_url }}"/>
	</div>
	<div class="col col-7 col-m-12">
		{{ book }}
	</div>
</div>

<div class="row">
	<div class="col col-12 col-m-12">
		<iframe src="https://open.spotify.com/embed/playlist/4nC2yRtUdwzdV0i5956uY3?utm_source=generator&theme=1" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
	</div>
</div>
{% endfor %}
