<div class="footer">
  <div class="container">
  <div class="row">
    <div class="col col-12">
      <footer>
        <!-- {% include contact-link.html %} -->
          <div class="copyright">{{site.time | date: '%Y'}} &copy; <a href="/" class="copyright__link">{% if site.title %}{{site.title}}{% else %}Reked Theme{% endif %}</a>. Template by <a
            href="https://artemsheludko.github.io" class="copyright__link">Artem Sheludko</a>.</div>
      </footer>
    </div>
  </div>
  </div>
</div>
