/* Footer */
.footer {
  width: 100%;
  padding: 80px 20px 40px;
  text-align: center;
  border-top: 1px solid $border-color;

  /* Footer Image */
  &.footer-image {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .3;
      background: $dark;
    }
  }

  /* Contact */
  .contact {
    position: relative;
    margin-bottom: 15px;
    
    .contact__item {
      display: inline-block;
      margin: 0 20px;
    }
  
    .contact__link {
      display: inline-block;
      width: 50px;
      height: 50px;
      font-size: 25px;
      line-height: 35px;
      border-radius: 25px;
      // color: #fff;
      background-color: rgba(255, 255, 255, 0.25);

      &:hover {
        color: #fff;
        background-color: $brand-color;
      }
    }
  }
  
  /* Copyright */
  .copyright {
    position: relative;
    font-size: 13px;
    // color: #fff;
  
    // .copyright__link {
    //   color: darken(#fff, 20%);
      
    //   &:hover {
    //     color: #fff;
    //   }
    // }
  }
}
