.header {
  width: 100%;
  padding-bottom: 20px;
}

.logo {
  margin-top: 80px;

  @media only screen and (max-width: $mobile) {
    margin-top: 50px;
  }
}

/* Logo */
.logo__link {
  font-family: 'Merriweather', serif;
  font-size: 31px;
  display: block;
  text-align: center;
  line-height: 50px;
  font-weight: 700;
  text-decoration: none;
  &:hover {
    color: #000;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 25px;
  }
}

.logo__image {
  max-height: 50px;
}

.main-nav {
  display: block;
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid $light-gray;
}

.main-nav__box {
  margin: auto;
  width: 100%;

  .nav__list {
    text-align: center;
    .nav__item {
      display: inline-block;
      margin-right: 5px;
    }

    .nav__link {
      position: relative;
      display: inline-block;
      padding: 5px 10px;
      font-size: 14px;
      transition: all .3s ease;

      &:hover {
        color: #fff;

        &:after {
          height: 100%;
        }
      }

      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 0;
        width: 100%;
        z-index: -1;
        background-color: $dark;
        transition: all .3s ease;
      }
    }
  }

  .nav__close {
    display: none;
  }
}

.nav__icon {
  &:first-child {
    margin-right: 10px;
  }

  font-size: 15px;
  cursor: pointer;
}
