// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 10px;


// *****************
// Color Variables
// *****************
$brand-color: #AC0702;
$dark: #212121;
$gray: #7f7f7f;
$light-gray: #eee;
$border-color: #eee;

// Background Colors
$background-color: #fdfdfd;

// Body Color
$text-color: $dark;

// Headings
$heading-font-color: $dark;

// Links
$link-color: $dark;
$link-color-hover: $brand-color;

// Border
$border-color: $light-gray;


// *****************
// Typography
// *****************
$base-font-size: 15px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: 'Merriweather', serif;
$base-line-height: 26px;

// Headings
$heading-font-family: 'Fjalla One', Helvetica Neue, Helvetica, Arial, sans-serif;

$font-size-h1:  36px;
$font-size-h2:  28px;
$font-size-h3:  24px;
$font-size-h4:  20px;
$font-size-h5:  18px;
$font-size-h6:  16px;

$heading-line-height: 1.2;
